
.comment1{
			background-color:rgb(255,165,0 );
	}
.comment2{
			background-color:rgb(214,122,122 );
	
}
.comment0{
	
}
.container{
	
}_
.dh {
float: right;
font-size: 0.7em;
}
ul
{}	
#lastarticle,body {
	padding-top:60px;
}
.article{
	margin-bottom: 12px;
	border-style: ridge;
    border-color: rgba(229, 229, 227, 0.1);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
	
}________________________________________

@font-face{
	font-family:SignikaNegative-Regular;
	src:url('assets/fonts/SignikaNegative-Regular.ttf');}
      /* Styles de base */
      
       #page-top{
    			 background-image: url('assets/img/fond.svg');
    			 background-repeat: no-repeat;
    			-webkit-background-size: cover;
        -moz-background-size: cover;
        background-size:cover ;
        -o-background-size: cover;
     
     
      }
      .navbar-header{
          			font-family: SignikaNegative-Regular, Times, serif;
      }
     
      .main1 {
        
      }
	.jumbotron{
	font-family: SignikaNegative-Light, Times, serif;
	margin-top:50px;
    background-color: rgba(255, 255, 255, 0.1);
	
	
	}
     
      footer{
      margin-top:20px;
     